@use "variables.scss";
@use "mixins.scss" as mixins;
@use "null.scss";
@use "forms.scss";
@use "ui.scss";
@use "popup.scss";
@use "header.scss";
@use "footer.scss";
//</МИКСИНЫ>===============================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
